<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Vue Js</title>
    </head>
    <body>
        <div id="app">
        <h1>{{ username }}Level {{ level }}</h1>
        <br>
        <input type="text" v-model="first">
        <br>
        <input type="text" v-model="last">
        <br>
        <input type="text" v-model="points" >
        </div>
        <script src="../js/vue.min.js"></script>
         <script>
    
         new Vue({
            el:'#app',
            data:{
                points:100,
                first:'firstname',
                last:'lastname'
            },
            computed:{
                level:function(){
                        if(this.points >= 100){
                            return '普通会员';
                        }
                        if(this.points<100){
                            return 'VIP';
                        }
                     },
                username: function(){
                    return '用户名:'+this.first+' '+ this.last+' ';   
                }
               
            }
         })
         </script>       
    </body>
</html>